body {
	background-color: #4c4c4c;
	color: #E6E6E6;
	margin-color: #C87533;
	font-size: 18px;
	margin:40px;
	line-height: 1.5;
	padding-left: 10%;
	padding-right:10%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: sans-serif;
}

.top {
	border: 8px solid;
	border-color: #C87533;
}

header {
	text-align: center;
}

nav {
	text-align: center;
}

footer {
	text-align: center;
}

h1 {
	font-style: italic;
	color: #C87533;
}

h2 {
	font-weight: bolder;
	color: #C87533;
}

h4 {
	color: #C87533;
}

hr {
	border-color: #C87533;
}

a {
	font-weight:normal;
	color: #C87533;
	text-decoration: none;
}

strong {
	color: #E6E6E6;
}

img {
	display: block;
	float: right;
	margin:10px;
	border: 1px solid;
	border-color: #C87533;
	padding: 3px;
}

ul {
	list-style-type: square;
}
